<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SharpArtileri.Data.Properties.Settings.sharpartileriConnectionString"
      connectionString="Data Source=.;Initial Catalog=sharpartileri;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SharpArtileri.Data.Properties.Settings.ArtileriManagementConnectionString"
      connectionString="Data Source=.;Initial Catalog=ArtileriManagement;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SharpArtileri.Data.Properties.Settings.SharpArtileriConnectionString1"
      connectionString="Data Source=ICN-MARTINE-PC\SQL2008R2;Initial Catalog=SharpArtileri;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SharpArtileri.Data.Properties.Settings.ArtileriGYMConnectionString"
      connectionString="Data Source=.;Initial Catalog=ArtileriGYM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SharpArtileri.Data.Properties.Settings.ArtileriGYMConnectionString1"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=ArtileriGYM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>